@import "tf2sa-colors";

nav li {
	display: inline;
}

mat-toolbar img {
	max-height: 100%;
}

.header-title {
	margin-left: 8px;
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

li .active {
	border-bottom: solid $tf2sa-text 2px;
	border-radius: 0;
}

.app-content {
	flex-grow: 1;
	max-height: calc(100% - 64px); /* subtract the height of the toolbar */
	overflow-y: auto;
}
