@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<JoinedStats>

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var PlayerStat in @Model)
    {
       <h1>@PlayerStat.PlayerName @PlayerStat.Kills @PlayerStat.Damage</h1>
    }
</div>