@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PlayerGamesCount>

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var PlayerStat in @Model)
    {
       <h1>@PlayerStat.SteamId @PlayerStat.NumberOfGames</h1>
    }
</div>