@model PlayerStatPageModel
@{
    ViewData["Title"] = "PlayerPage";
}

<h1>hello</h1>

<div>
    @Model.Highlights[0].SteamID @Model.SoldierAverages[0].SteamName @Model.SoldierAverages[0].NumberOfGames @Model.SoldierAverages[0].Kills
</div>