<mat-drawer-container class="stats-container">
	<mat-drawer mode="side" opened>
		<nav>
			<ul>
				<li>
					<a mat-button [routerLink]="ROUTES.STATS_OVERALL">
						Overall
					</a>
				</li>
				<li>
					<a mat-button [routerLink]="ROUTES.STATS_SCOUT"> Scout </a>
				</li>
				<li>
					<a mat-button [routerLink]="ROUTES.STATS_SOLDIER">
						Soldier
					</a>
				</li>
				<li>
					<a mat-button [routerLink]="ROUTES.STATS_DEMOMAN">
						Demoman
					</a>
				</li>
				<li>
					<a mat-button [routerLink]="ROUTES.STATS_MEDIC"> Medic </a>
				</li>
			</ul>
		</nav>
	</mat-drawer>
	<mat-drawer-content>
		<div class="stats-content">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
