<mat-drawer-container class="stats-container">
	<mat-drawer mode="side" opened>
		<nav>
			<ul>
				<li>
					<a
						mat-button
						[routerLink]="ROUTES.STATS_OVERALL"
						routerLinkActive="active"
					>
						Overall
					</a>
				</li>
				<li>
					<a
						mat-button
						[routerLink]="ROUTES.STATS_SCOUT"
						routerLinkActive="active"
					>
						Scout
					</a>
				</li>
				<li>
					<a
						mat-button
						[routerLink]="ROUTES.STATS_SOLDIER"
						routerLinkActive="active"
					>
						Soldier
					</a>
				</li>
				<li>
					<a
						mat-button
						[routerLink]="ROUTES.STATS_DEMOMAN"
						routerLinkActive="active"
					>
						Demoman
					</a>
				</li>
				<li>
					<a
						mat-button
						[routerLink]="ROUTES.STATS_MEDIC"
						routerLinkActive="active"
					>
						Medic
					</a>
				</li>
			</ul>
		</nav>
	</mat-drawer>
	<mat-drawer-content>
		<div class="stats-content">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
