@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Player>

<body>          
<div class="text-center">
    @foreach (var player in @Model)
    {
        <h1> @player.PlayerName </h1>
    }
</div>
</body> 
